#skip-to-content {
  display: block;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index:999;
}
#skip-to-content:hover, #skip-to-content:focus {
  height: auto;
}
.master-layout {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

.bar-chart-container {
  height: 360px;
  width: 100%;
  border: 1px solid #333;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.bar-chart-item {
      flex: 1;
}

@media (max-width: 640px) {
}