#skip-to-content {
  display: block;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index:999;
}
#skip-to-content:hover, #skip-to-content:focus {
  height: auto;
}
.master-layout {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 640px) {
}